h1 {
font-family: 'Courier', Courier, monospace;
font-size: 25px;
color:grey;
text-align: center ;
margin-top: 5%;
}

#glpi {
text-decoration: none;
margin-left: 100px;
margin-top: 150px;
}

#checkmk {
text-decoration: none;
margin-left: 125px;
margin-top: 150px;
}
 

#apex_one {
text-decoration: none;
margin-left: 150px;
margin-top: 150px;
}

#active {
text-decoration: none;
margin-left: 200px;
margin-top: 150px;
}

