h1 {
    font-family: 'Courier', Courier, monospace;
 font-size: 25px;
 color:grey;
 position: absolute;
 left: 750px;
 top: 90px;
}

#glpi {
position: absolute;
left: 200px;
top: 240px;
}

#checkmk {
position: absolute;
left: 350px;
top: 240px;
}
 

#img_apex {
position:absolute;
left: 450px;
top: 240px

}


